:root, body {
  font-size: unset;
  font-weight: 500;
  white-space: nowrap;
  margin: 0;
  width: 23rem;
  height: 2rem;
  color-scheme: light dark;
  line-height: 1rem;
}

:root {
  background: var(--arc-palette-background);
  padding: 1.1rem 1rem 0;
}

section {
  display: flex;
  flex-flow: row;
  text-align: center;
}

#query {
  border-radius: 6px;
  overflow: visible;
  font: inherit;
  height: 1rem;
}

textarea {
  border: none;
  outline: none;
  flex-grow: 1;
  background: transparent;
  resize: none;
}

#error, #position {
  color: grey;
  height: 1rem;
}

#position {
  font-size: .9rem;
  line-height: 1rem;
  vertical-align: sub;
}

#error {
  font-size: .8rem;
  line-height: .8rem;
}

#error.blank {
  visibility: hidden;
}

#position.blank {
  display: none;
}

button {
  border: none;
  outline: none;
  width: 2rem;
  height: 2rem;
  margin-top: -.5rem;
  border-radius: 6px;
}
